@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



/* header */
.first-head {
    background-image: url("../assets/Hero-bg.png");
    
    background-size: cover;
    margin-bottom: 74px;

}
.head-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 26px 221px 44px;
}
.head-photo {
    
}

.head-bar {
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    
}
.head-text {
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
.head-btn {
    
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 15px 20px;
    border: none;
    cursor: pointer;
}
.main-btn {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* 2nd head */

.part-two {
    padding: 80px;
    max-width: 1140px;
    max-height: 1395px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;

    background: rgba(13, 19, 33, 0.02);
    margin-bottom: 88px;
}

.sec-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}
.sec-head {
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    
}
.sec-des {
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.main-one {
    padding: 48px;
    margin-bottom: 32px;
    background-color: white;
}

.sec-world {
    margin-top: 10.5px;
    margin-bottom: 9.5px;
}
.first-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.world {
    color: rgba(13, 19, 33, 0.7);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}
.worldwide {
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
    opacity: 0.7;
}
.sec-btn {
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 5px 10px;

}
.layer-one {
    width: 259.56px;
    height: 217.01px;
    padding: 5px;
}
/* main two div */

.main-two {
    padding: 48px;
    margin-bottom: 32px;
    background-color: white;
    
}
.sec-two {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.two-text {
    margin-top: 10.5px;
    margin-bottom: 9.5px;
    padding-right: 101px;
    margin-left: 48.8px;
}
.two-img {
    width: 223.2px;
    height: 208.85px;
    margin-bottom: 31.15px;
    padding: 5px;
}


.two-head {
    color: rgba(13, 19, 33, 0.7);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;   
    margin-bottom: 16px;
}
.two-des {
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
    opacity: 0.7;
}
/* main three div */

.three-one {
    padding: 48px;
    background-color: white;
}

.three-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.three-text {
    margin-top: 10.5px;
    margin-bottom: 9.5px;
}
.three-head {
    color: rgba(13, 19, 33, 0.7);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}
.three-des {
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
    opacity: 0.7;
} 
.three-img {
    width: 206.4px;
    height: 187.32px;
    padding: 5px;
}

/* third body */

.inspiration {
    max-width: 1140px;
    max-height: 775px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 151px;
}

.ins-text {
    margin-bottom: 48px;
}

.ins-head {
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.motivated {
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
.jhankar-sir {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
/* goal body */

.current {
    max-width: 1140px;
    max-height: 460px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 111px;
}

.crnt-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.crnt-head {
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.goal {
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}

.crnt-goal {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hyper {
    border-radius: 16px;

    background: rgba(255, 76, 30, 0.05);
    width: 364px;
    height: 299px;
    padding: 40px;
    margin-right: 24px;
}
.cascading {
    border-radius: 16px;

    background: rgba(0, 76, 232, 0.05);
    width: 364px;
    height: 299px;
    padding: 40px;
    margin-right: 24px;
}
.script {
    border-radius: 16px;

    background: rgba(255, 223, 0, 0.05);
    width: 364px;
    height: 299px;
    padding: 40px;
}


.crnt-img {
    width: 56px;
    height: 56px;
}
.crnt-ww {
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.ww-text {
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;


}
.same-btn {
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

/* support */

.support {
    margin-top: 111px;
    margin-bottom: 79px;
    

}

.back {
    background-image: url("../assets/handshake.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 1140px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    
    
}
.back-con {
    padding: 64px 48px;
    
}


.back-head {
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}
.back-text {
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.back-push {
    display: flex;
    align-items: center;
    justify-content: center;
    

}
::placeholder {
    color: rgba(13, 19, 33, 0.4);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    width: 313px;
    height: 19px;
}
 .back-feed > input {
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;

    background: rgb(255, 255, 255);
}
.back-btn > input {
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 20px;
    border: none;
    background-color: rgb(255, 255, 255);
    
}
.back-btn {
    

    background: rgb(255, 255, 255);
    width: 120px;
    height: 58px;
    margin: 10px 16px 10px;
    
    
}

/* footer */

.last-foot {
    padding: 40px 150px;
    
    border-radius: 16px;

    background: rgba(13, 19, 33, 0.03);
}

.first-foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.sec-foot {
    color: rgb(13, 19, 33);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.num-one {
    margin-right: 24px;
}
.num-two {
    margin-right: 24px;
}